<launch>
    <!-- 参数定义 -->
    <arg name="drone_id" default="1"/>
    <arg name="num_drones" default="3"/>
    <arg name="drone1_ip" default="192.168.7.104"/>
    <arg name="drone2_ip" default="192.168.7.202"/>
    <arg name="drone3_ip" default="192.168.1.3"/>
    <arg name="drone4_ip" default="192.168.1.4"/>
    <arg name="drone5_ip" default="192.168.1.5"/>
    <arg name="base_port" default="5555"/>
    <arg name="offset_multiplier" default="1.0"/>
    <arg name="odom_topic" default="/vins_fusion/imu_propagate"/>
    <arg name="vins_topic" default="/vins_fusion/imu_propagate"/>

    <!-- 当前无人机的配置 -->
    <param name="drone_id" value="$(arg drone_id)"/>
    <param name="num_drones" value="$(arg num_drones)"/>
    <param name="drone1_ip" value="$(arg drone1_ip)"/>
    <param name="drone2_ip" value="$(arg drone2_ip)"/>
    <param name="drone3_ip" value="$(arg drone3_ip)"/>
    <param name="drone4_ip" value="$(arg drone4_ip)"/>
    <param name="drone5_ip" value="$(arg drone5_ip)"/>
    <param name="base_port" value="$(arg base_port)"/>
    <param name="offset_multiplier" value="$(arg offset_multiplier)"/>
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="vins_topic" value="$(arg vins_topic)"/>

    <!-- start uwb node -->
    <node pkg="nlink_parser" type="linktrack" name="linktrack0" output="screen">
        <param name="port_name" value="/dev/ttyUSB0" />
        <param name="baud_rate" value="921600" />
    </node>

    <!-- 启动 pose_pub_sub 节点 -->
    <node name="drone$(arg drone_id)_pose_pub_sub" pkg="network_utils" type="pose_pub_sub" output="screen">
        <param name="drone_id" value="$(arg drone_id)"/>
        <param name="num_drones" value="$(arg num_drones)"/>
        <param name="drone1_ip" value="$(arg drone1_ip)"/>
        <param name="drone2_ip" value="$(arg drone2_ip)"/>
        <param name="drone3_ip" value="$(arg drone3_ip)"/>
        <param name="drone4_ip" value="$(arg drone4_ip)"/>
        <param name="drone5_ip" value="$(arg drone5_ip)"/>
        <param name="base_port" value="$(arg base_port)"/>
        <param name="offset_multiplier" value="$(arg offset_multiplier)"/>
        <param name="odom_topic" value="$(arg odom_topic)"/>
        <param name="vins_topic" value="$(arg vins_topic)"/>
    </node>
</launch>
